<link rel="stylesheet" href="/css/styles.css">
<footer class="bg-violet-300 text-white py-6 w-full text-center shadow-md">
    <div class="container mx-auto flex flex-col items-center">
      <h2 class="text-2xl font-bold mb-4">Contatos</h2>
      <div class="flex justify-center space-x-6">
        <a href="mailto:emmanuelnoronha3@gmail.com" class="hover:text-blue-400 transition">
          <img src="https://skillicons.dev/icons?i=gmail" alt="Gmail" class="w-13 h-13">
        </a>
        <a href="https://www.linkedin.com/in/emmanuelyokoyama/" target="_blank" class="hover:text-blue-400 transition">
          <img src="https://skillicons.dev/icons?i=linkedin" alt="LinkedIn" class="w-13 h-13">
        </a>
        <a href="https://github.com/EmmanuelJYokoyama" target="_blank" class="hover:text-blue-400 transition">
          <img src="https://skillicons.dev/icons?i=github" alt="GitHub" class="w-13 h-13">
        </a>
      </div>
      <p class="mt-4 text-sm">&copy; 2024 Emmanuel Yokoyama. Todos os direitos reservados.</p>
    </div>
  </footer>
  