<script src="https://cdn.tailwindcss.com"></script>
<script src="./js/script.js"></script>
<%- include("partials/navbar") %>

<section id="tecnologias" class="py-16 bg-violet-400 flex flex-col justify-start items-center">
  <div class="container mx-auto text-center">
    <h2 class="text-4xl font-bold text-white mb-8">Tecnologias que utilizo</h2>

    <div id="tecnologia-container" class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6 lg:grid-cols- gap-1 justify-center items-center">
      <!-- Ãcones individuais -->
      <img src="https://skillicons.dev/icons?i=php" />
      <img src="https://skillicons.dev/icons?i=js" />
      <img src="https://skillicons.dev/icons?i=nodejs" />
      <img src="https://skillicons.dev/icons?i=kotlin" />
      <img src="https://skillicons.dev/icons?i=python" />
      <img src="https://skillicons.dev/icons?i=docker" />
      <img src="https://skillicons.dev/icons?i=cs" />
      <img src="https://skillicons.dev/icons?i=laravel" />
      <img src="https://skillicons.dev/icons?i=aws" />
      <img src="https://skillicons.dev/icons?i=flask" />
      <img src="https://skillicons.dev/icons?i=ts" />
      <img src="https://skillicons.dev/icons?i=mysql" />
      <img src="https://skillicons.dev/icons?i=mongodb" />
      <img src="https://skillicons.dev/icons?i=git" />
      <img src="https://skillicons.dev/icons?i=c" />
      <img src="https://skillicons.dev/icons?i=dotnet" />
      <img src="https://skillicons.dev/icons?i=sqlite" />
      <img src="https://skillicons.dev/icons?i=rails" />
      <img src="https://skillicons.dev/icons?i=tailwind" />
      <img src="https://skillicons.dev/icons?i=css" />
      <img src="https://skillicons.dev/icons?i=html" />
      <img src="https://skillicons.dev/icons?i=postman" />
      <img src="https://skillicons.dev/icons?i=java" />
      <img src="https://skillicons.dev/icons?i=figma" />
      <img src="https://skillicons.dev/icons?i=sass" />
      <img src="https://skillicons.dev/icons?i=sequelize" />
      <img src="https://skillicons.dev/icons?i=visualstudio" />
      <img src="https://skillicons.dev/icons?i=spring" />
      <img src="https://skillicons.dev/icons?i=bitbucket" />
      <img src="https://skillicons.dev/icons?i=eclipse" />
      <img src="https://skillicons.dev/icons?i=react" />
      <img src="https://skillicons.dev/icons?i=figma" />
      <img height="48" width="48" src="https://avatars.githubusercontent.com/u/45487711?s=48&v=4" />
      <img height="48" width="48" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/jira/jira-original.svg" />
    </div>
  </div>
</section>

<%- include("partials/footer") %>
