html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}
.imagempessoal{
  width: 90%;
  height: 90%;
}

.logoimg{
  width: 10%;
  height: 10%;
}

.infoPersonal{
  
}